.accountPage {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: linear-gradient(rgba(19, 155, 213, 0.5), transparent);
  min-height: 110vh;
  align-items: center;
  justify-content: center;
  left: 0px;
  overflow: hidden;
}
.accountPage button {
  flex-wrap: wrap;
  position: relative;
  border: black 1rem solid;
  border-radius: 100%;

  background-color: rgb(40, 41, 39);
  text-align: center;
  justify-content: center;
  align-self: center;
  /* opacity: 0.9; */
}
.button2 {
  bottom: 6rem;
  z-index: 1;
  height: 24rem;
}
.button1 {
  height: 21rem;
  bottom: 1rem;
  width: 30rem;
  left: 5%;
}
.button3 {
  height: 21rem;
  left: -5%;
  width: 30rem;
  /* z-index: -1; */
  bottom: 1rem;
}
.accountDetails {
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 2px red, 0 0.6em blue, 0 0 7.2em blue;
  background-size: cover;
  background-position: center;
  background-image: url('../images/moutainRoad.png');
  width: 90rem;
  height: 30rem;
  margin-top: 1rem;
  margin-bottom: 40rem;
  border: #131c27 3rem solid;
  border-radius: 15%;
}
.accountDetails h1 {
  font-size: 9rem;
}
.dashBoard {
  position: absolute;
  height: 40rem;
  width: 100%;
  left: 0%;
  bottom: -3%;
  z-index: -2;
}
.paper {
  opacity: .4rem;
  text-align: center;
  position: relative;
background:  url('../images/vectorstock_1462080.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  top: 3%;
  width: 70%;
  margin: auto;
  min-height: 50rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: brown solid 1rem;

}

.paper li {
  list-style-type: none;
}
.paper input,
.paperInput {
  height: 3rem;
  width: 35rem;
  text-align: center;
  flex-wrap: wrap;
}
.paper label {
  display: flex;
  justify-content: center;
}
.paper button {
  margin-top: 2rem;
  margin-bottom: 2rem ;
  margin-right: 3rem;
  height: 4rem;
  width: fit-content;
  color:white;
  font-family:sans-serif;
 
  line-height: 0em;
}
.closing-icon{
  height: 5rem;
  color:black;
  position: absolute;
  right:1%;
  top:1%;

}
.updateForm {
  background: blanchedalmond;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
min-height: 480px;
}
.dateForm {
  display: inline;
  background: white;
  border: rgb(142, 128, 128) 1px solid;
  border-radius: 4%;
}

.carScent {
  display: flex;
  position: absolute;
  max-height: 25rem;
  top: 100%;
  z-index: -1;
  animation: swingingScent 3s infinite alternate-reverse;
}
@keyframes swingingScent {
  0% {
    transform: translate(0%, 1%);
  }

  100% {
    transform: translate(20%, 0%);
    rotate: 30rem 50%;
  }
}
@media screen and (max-width: 956px) {
  .accountPage button {
    flex-wrap: wrap;
    position: relative;
    border: black 1rem solid;
    border-radius: 0%;
    height: 4rem;
    background-color: rgb(40, 41, 39);
    width: 40rem;
    bottom: 0rem;
    left: 0%;
    margin-bottom: 4rem;
    /* opacity: 0.9; */
  }
  .dashBoard {
    display: none;
  }
  .accountDetails {
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0.6em blue, 0 0 7.2em blue;
    background-size: cover;
    background-position: center;
    background-image: url('../images/moutainRoad.png');
    /* width: fit-content; */
    height: 30rem;
    margin-top: 1rem;
    margin-bottom: 30rem;
    border: #131c27 3rem solid;
    border-radius: 15%;
  }
}
