.accountPage {
  min-height: 120vh;
  background: url('../images/italy-1587287_1920.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.accountPage button {
  flex-wrap: wrap;
  position: relative;
  border: black 1rem solid;
  background-color: rgb(40, 41, 39);
  text-align: center;
  justify-content: center;
  align-self: center;
  margin:2rem;
  /* opacity: 0.9; */
}
.accountDetails{
  width: 80%;
  margin: auto;
  min-height: 60vh;
  margin-top: 15rem;
  background: #ced4da;
  opacity: .88;
}

.accountDetails h1 {
  font-size: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

}
.dashBoard {
  position: absolute;
  height: 40rem;
  width: 100%;
  left: 0%;
  bottom: -3%;
  z-index: -2;
}
.paper {
  opacity: 0.4rem;
  text-align: center;
  position: relative;
  background: url('../images/vectorstock_1462080.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 3%;
  width: 70%;
  margin: auto;
  min-height: 50rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: brown solid 1rem;
}

.paper li {
  list-style-type: none;
}
.paper input,
.paperInput {
  height: 3rem;
  width: 35rem;
  text-align: center;
  flex-wrap: wrap;
}
.paper label {
  display: flex;
  justify-content: center;
}
.paper button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
  height: 4rem;
  width: fit-content;
  color: white;
  font-family: sans-serif;

  line-height: 0em;
}
.closing-icon {
  height: 5rem;
  color: black;
  position: absolute;
  right: 1%;
  top: 1%;
}
.updateForm {
  background: blanchedalmond;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  min-height: 480px;
}
.dateForm {
  display: inline;
  background: white;
  border: rgb(142, 128, 128) 1px solid;
  border-radius: 4%;
}

@keyframes swingingScent {
  0% {
    transform: translate(0%, 1%);
  }

  100% {
    transform: translate(20%, 0%);
    rotate: 30rem 50%;
  }
}
@media screen and (max-width: 956px) {
  .accountDetails{
    margin-top: 25rem;
  }


  
    
}
