.hotel-search-page{
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 150vh;
    box-sizing: border-box;
    background: linear-gradient(#46a8be80, transparent),
      url('../../images/hotelBackground2.png');
      background-size: cover;
    background-position:center;
    width: 100%;
    margin: auto;
    margin-top:0px;
    padding: 6rem;
  }
  .body1 {
    margin-top: -200px;
    background: #ced4da !important;
    width: cover;
    /* margin:auto; */
    object-position: center;
    display: inline-flex;
    /* margin-left: 130px; */
    /* position: flex; */
    align-self: center;
    align-content: center;
    justify-content: center;
  }